@model HomeFinance.ViewModels.MonthViewModel



<div class="container p-3">
    <div class="row pt-4 text-center border-bottom">
        <div class="col-4 text-end align-self-center">
             <a  asp-route-monthB="@Model.Month.AddMonths(-1).ToBinary()">Back</a>
        </div>
        <div class="col-4 text-center">
            <h1>@Model.Month.ToString("MMMM yyyy")</h1>
        </div>
        <div class="col-4 align-self-center text-start">
            <a  asp-route-monthB="@Model.Month.AddMonths(1).ToBinary()">Forward</a>
        </div>
    </div>
    <div class="row pt-4 border-bottom">
        <div class="col-4 text-center">
            <h3 class="text-success">@Model.MonthBegin</h3>
            <h4 class="text-success">Begin</h4>
        </div>
        <div class="col-4 text-center">
            <h3 >@Model.MonthDiff</h3>
            <h4 >Diff</h4>
        </div>
        <div class="col-4 text-center">
            <h3 class="text-danger">@Model.MonthEnd</h3>
            <h4 class="text-danger">End</h4>
        </div>
    </div>
    <br/><br/>

    @foreach(var day in @Model.Days)
    {
        <div class="border row m-0">
            <div class="row border-bottom m-0 mt-2" onclick=@("javascript:DayDivClicked("+day.Day.ToBinary()+"); return true;") >
                <div class="col-8 ">
                    <h4 >@day.Day.Day</h4>
                </div>
                <div class="col-2 text-end">
                    <h5 class="text-primary">@day.Income</h5>
                </div>
                <div class="col-2 text-end">
                    <h5 class="text-danger">@day.Outgo</h5>
                </div>
            </div>
            @foreach(var operation in day.Operations)
            {
                <div class="row pt-4 m-0" onclick=@("javascript:OperationDivClicked("+operation.Id+","+(operation.IsTransfer?"true":"false")+"); return true;")>
                    <div class="col-2 align-self-center">
                        <h7 >@operation.Category</h7>
                    </div>
                    <div class="col-6 ">
                        <h5 >@operation.Comment</h5>
                        <h7>@operation.Wallet</h7>
                    </div>

                    @if (operation.Transfer.HasValue)
                    {
                         <div class="col-4 text-center">
                             <h5 >@operation.Transfer</h5>
                        </div>
                    }
                    else
                    {
                        <div class="col-2 text-end">
                            @if (operation.Income.HasValue)
                            {
                                <h5 class="text-primary">@operation.Income</h5>
                                @if (operation.Balance.HasValue)
                                {
                                    <h7>@operation.Balance.Value</h7>
                                }
                            }
                        </div>
                    

                        <div class="col-2 text-end">
                            @if (operation.Outgo.HasValue)
                            {
                                <h5 class="text-danger">@operation.Outgo</h5>
                                @if (operation.Balance.HasValue)
                                {
                                    <h7>@operation.Balance.Value</h7>
                                }
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <br/><br/>
    }
</div>
