@model HomeFinance.Models.AddEditOperationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Operation</h4>
<hr />

@if (Model.Operation.Id != null)
{
    <form asp-action="Edit">
               <div asp-validation-summary="All" class="text-danger"></div>
               <input type="hidden" asp-for="Operation.Id"  />
               <input type="hidden" asp-for="Operation.Outgo"  />
               <input type="hidden" asp-for="Operation.NavigateToWallet" />
               <div class="form-group">
                    <label asp-for="Operation.WalletId" class="control-label"></label>
                    <select class="form-select" asp-for="Operation.WalletId">
                        @foreach(var possibleWallet in Model.PossibleWallets)
                        {
                            <option value="@possibleWallet.Id">@possibleWallet.Name</option>   
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Operation.CategoryId" class="control-label"></label>
                    <select class="form-select" asp-for="Operation.CategoryId">       
                        @foreach(var possibleCategory in Model.Operation.Outgo? Model.OutgoCategories:Model.IncomeCategories)
                        {
                            <option value="@possibleCategory.Id">@possibleCategory.Name</option>   
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Operation.DateTime" class="control-label"></label>
                    <input asp-for="Operation.DateTime" class="form-control" type="datetime"/>
                    <span asp-validation-for="Operation.DateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Operation.Amount" class="control-label"></label>
                    <input asp-for="Operation.Amount" class="form-control" type="number"/>
                    <span asp-validation-for="Operation.Amount" class="text-danger" ></span>
                </div>
                <div class="form-group">
                    <label asp-for="Operation.Comment" class="control-label"></label>
                    <input asp-for="Operation.Comment" class="form-control" />
                    <span asp-validation-for="Operation.Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
}
else
{
     <form asp-action="EditTransfer" >
               <div asp-validation-summary="All" class="text-danger"></div>
               <input type="hidden" asp-for="Transfer.Id"  />
               <input type="hidden" asp-for="Transfer.NavigateToWallet" />
               <div class="form-group">
                    <label asp-for="Transfer.WalletIdFrom" class="control-label"></label>
                    <select class="form-select" asp-for="Transfer.WalletIdFrom">        
                        @foreach(var possibleWallet in Model.PossibleWallets)
                        {
                            <option value="@possibleWallet.Id">@possibleWallet.Name</option>   
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Transfer.WalletIdTo" class="control-label"></label>
                    <select class="form-select" asp-for="Transfer.WalletIdTo">    
                        @foreach(var possibleWallet in Model.PossibleWallets)
                        {
                            <option value="@possibleWallet.Id">@possibleWallet.Name</option>   
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Transfer.DateTime" class="control-label"></label>
                    <input asp-for="Transfer.DateTime" class="form-control" type="datetime"/>
                    <span asp-validation-for="Transfer.DateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transfer.Amount" class="control-label"></label>
                    <input asp-for="Transfer.Amount" class="form-control" type="number"/>
                    <span asp-validation-for="Transfer.Amount" class="text-danger" ></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transfer.Comment" class="control-label"></label>
                    <input asp-for="Transfer.Comment" class="form-control" />
                    <span asp-validation-for="Transfer.Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
     </form>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
